<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<% if user_signed_in? %>
    <%= link_to "Create Groups", new_group_path %>
    <%= link_to "Add Place", add_place_path %>
    <%= link_to "Add Event", new_event_path %>
<%= render 'group/groups' %>
<%= render 'group/invits' %>
<%= render 'event/events' %>


<%= current_user.email %>
<% end %>

<%= render 'place/places' %>

